<html>
<head>
    <title>My App</title>
</head>
<body>
    <h1>Enter numbers for calculations</h1>
    <form method="POST">
        <p>Add base number:</p>
        <input name="number1" type="number">
        <p>We will multiply by following number:</p>
        <input name="number2" type="number">
        <p>And subtract the following number:</p>
        <input name="number3" type="number">
        <br><br>
        <input type="submit">
    </form>

    <p>Page has been seen {{page_count}} times</p>

</body>
</html>
